
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar navbar-expand-lg{
  background-color: blue;
}
.card {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}
.ram {
  color:orange;
}
 
.namematch{
  color:red;
}
.formc{
 
  color:white;
 
}
.butt{
background-color: blue;
margin-right: 2px;

}
#photu {
  height: 85vh;
}



#buttn {
    background-color:blue;
    color:white;
     
}

#signin {
    background-color:red;
    color:white; 
}

.nvlnk{

  /*color:gold;*/
  text-emphasis-style: italic;
}

.text-center text-lg-start text-white{

  margin-top: 0rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
